.center {
   margin: auto;
   float: none;
}

.line-break-table {
    table-layout: fixed;
}

.line-break-table-cell {
    word-wrap: break-word;
}

.wrap {
   white-space: pre-wrap !important;      /* CSS3 */
   white-space: -moz-pre-wrap !important; /* Firefox */
   white-space: -pre-wrap !important;     /* Opera <7 */
   white-space: -o-pre-wrap !important;   /* Opera 7 */
   word-wrap: break-word !important;      /* IE */
}
